script(src='//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js')
script(src='//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js')
script(src='//cdn.datatables.net/scroller/1.2.2/js/dataTables.scroller.min.js')
script(src='#{module_root}/static/table.js')
link(rel='stylesheet', href='#{module_root}/static/table.css')

.container-fluid
    .row
        .col-xs-12
            h1.pull-left Facts
            ul.nav.nav-tabs
                //- Order here is reversed since the .navbar-right class floats them to the right
                li.navbar-right
                    a(href="#{module_root}/words/")
                        h4 Words
                li.navbar-right.active
                    a(href="#{module_root}/")
                        h4 Facts
            table.table.table-striped#maintable
                thead
                    tr
                        th Trigger
                        th Factoid
                        th
                tfoot
                    tr
                        th Triggers
                        th Factoids
                        th
                tbody
                    each fact in facts
                        tr
                            td= fact.trigger.trigger
                            td= fact.factoid
                            td.controls
                                if user && user.admin
                                    a(href="#")
                                        span.glyphicon.glyphicon-pencil.text-warning
                                    |  
                                    a(href="remove?id=#{fact.id}")
                                        span.glyphicon.glyphicon-remove.text-danger
